<template name="input">
  <div class="form-group">
    {{#if currentUser}}
      <input type="text" id="task" class="form-control" placeholder="Type to add new tasks" />
    {{/if}}
  </div>
</template>

<template name="todos">
  <ul class="list-group">
    {{#each tasks}}
      <li>
        {{#if isOwner}}
          <button class="delete">&times;</button>
        {{/if}}
        <span class="text"><strong>{{username}}</strong> - {{task}}</span>
      </li>
    {{/each}}
  </ul>
</template>